<form class="d-flex flex-column mt-5 pt-5 mx-auto col-6">
    
    <div class="d-flex flex-row justify-content-around">
        <label for="name" class="mt-5 mb-3  ">Name:</label>
        <input type="text" name="name" id="name" class="mt-5" placeholder="Name"/> 
    </div>
    
    <div class="d-flex flex-row justify-content-around">
        <label for="domain" class="my-3">Domain:</label>
        <input type="text" name="domain" id="domain" placeholder="Department">
    </div>

    <div class="d-flex flex-row justify-content-around ">
        <label for="year" class="my-3">Year:</label>
        <input type="number" name="year" id="year" placeholder="Year">
    </div>

    <div class="d-flex flex-row justify-content-around">
      <label for="image" class="my-3">Image: </label>
      <select name="image url" id="image" class="dropdown my-auto" aria-placeholder="Image Url">
        <option value="" selected>Select any</option>
        <option value="https://fastly.picsum.photos/id/146/5000/3333.jpg?hmac=xdlFnzoavokA3U-bzo35Vk4jTBKx8C9fqH5IuCPXj2U">https://fastly.picsum.photos/id/146/5000/3333.jpg</option>
        <option value="https://fastly.picsum.photos/id/153/4763/3155.jpg?hmac=GvglcvSHy1CSmpkqqF-7VSPsc67CmYQZ1CY-do9rh_A">https://fastly.picsum.photos/id/153/4763/3155.jpg</option>
        <option value="https://fastly.picsum.photos/id/155/3264/2176.jpg?hmac=Zgf_oGMJeg18XoKBFmJgp2DgHMRYuorXlDx5wLII9nU">https://fastly.picsum.photos/id/155/3264/2176.jpg</option>
        <option value="https://fastly.picsum.photos/id/127/4032/2272.jpg?hmac=QFoFT2_eb_DCqjdlj09UFgUHwI_zefDTBdECRz9lO5Q">https://fastly.picsum.photos/id/127/4032/2272.jpg</option>
      </select>
    </div>

</form>    